@import './../../styles/variables';

.declare-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-while;

  // .header {
  //   padding: 20px;
  //   text-align: right;
  //   height: 100px;
  //   p {
  //     font-size: $font-size-Mulish-1;
  //     font-weight: $weight-Mulish;
  //     color: $black-text;
  //   }
  // }

  .content {
    display: flex;
    flex: 1;

    .supMenu {
      width: 300px;
      background-color: $background-while;
      margin-right: 15px;
    }

    .main-content {
      flex: 1;
      padding: 10px;
      // background-color: rgb(238, 238, 238);
    }
  }
}
