.calendar-container {
  position: relative;
  display: flex;
  justify-content: center;
}

/* CSS input */
.calendar-input {
  height: 36px;
  cursor: pointer;
  border: none;
  border-right: 2px solid #605f5f;
}

.calendar-input:hover {
  background-color: var(--while-text);
}

.calendar-input:focus {
  outline: none;
}

/* Container input và icon */
.calendar-input-container {
  display: flex;
  align-items: center;
  border: 2px solid #605f5f;
  border-radius: 7px;
  padding: 5px;
  height: 40px;
  background-color: var(--background-white);
}

/* Placeholder cho input */
.calendar-input::placeholder {
  color: var(--grey-text);
}

/* Icon lịch */
.calendar-icon {
  cursor: pointer;
  height: 22px;
  width: 26px;
  padding-left: 5px;
}

.calendar-icon:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 90%;
}

/* Popup */
.calendar-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--background-white);
  border: 1px solid var(--background-gray);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, -50%) scale(0.95);
  opacity: 0;
  pointer-events: none;
}

/*  popup mở */
.calendar-popup.open {
  padding: 16px 24px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
  background: #ffffff;
  z-index: 10;
}

/* Header Calendar */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.calendar-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--black-text);
}

/*  điều hướng tháng */
.calendar-nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 8px;
  height: 10px;
}

.calendar-nav-button:hover {
  color: var(--blue-text);
}

/* Các ngày trong tuần */
.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 4px;
  font-weight: bold;
  color: var(--background-6);
}

.calendar-weekday {
  padding: 4px;
}

/* Lưới ngày trong tháng */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar-day {
  padding: 6px 10px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--background-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calendar-day:hover {
  opacity: 90%;
}

.calendar-day.selected {
  background-color: var(--background-2);
  color: var(--while-text);
}

.calendar-day.other-month {
  color: var(--grey-text);
}

/*  */
.calendar-footer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.calendar-choose-button {
  background-color: var(--background-2);
  color: white;
  /* var(--while-text) */
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.calendar-choose-button:hover {
  background-color: var(--background-1);
}
