.class-share {
  background: #f8f8f8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 14px;
    font-weight: bold;
  }

  .share-content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .copy-btn {
    background: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
