// font-family
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
$font-Mulish: 'Mulish', sans-serif;
$font-Source-Sans-Pro: 'Source Sans Pro';

// font-size
$font-size-Mulish-1: 48px;
$font-size-Mulish-2: 28px;
$font-size-Mulish-3: 22px;
$font-size-Mulish-4: 18px;
$font-size-Source-Sans-Pro-1: 16px;
$font-size-Source-Sans-Pro-2: 14px;

// font-height
$line-height-Mulish-1: 56.25px;
$line-height-Mulish-2: 32.81px;
$line-height-Mulish-3: 25.78px;
$line-height-Mulish-4: 21.09px;
$line-height-Source-Sans-Pro-1: 20.11px;
$line-height-Source-Sans-Pro-2: 20.8px;
$line-height-Source-Sans-Pro-3: 17.6px;

// font-weight
$weight-Mulish: 700;
$weight-Source-Sans-Pro-1: 700;
$weight-Source-Sans-Pro-2: 600;
$weight-Source-Sans-Pro-3: 400;

// text
$black-text: #373839;
$while-text: #ffffff;
$blue-text: #2eacee;
$orange-text: #ff7506;
$green-text: #49c510;
$grey-text: #c9c4c0;

// status
$red-status: #ed2025;
$blue-status: #0b80ec;
$green-status: #49c510;
// background dùng để tạo gradient
$background-1: #ff5400;
$background-2: #f17f21;
$background-3: #fdc830;
$background-4: #f37335;
$background-5: #56ccf2;
$background-6: #2f80ed;
$background-7: #45b649;
$background-8: #dce35b;

// background
$background-gray: #c9c4c0;
$background-orange-1: #ff7506;
$background-orange-2: #ffb923;
$background-orange-3: #ffa75e;
$background-blue-1: #2eacee;
$background-blue-2: #a1d9f7;
$background-blue-3: #0016dab2;
$background-green: #49c510;
$background-while: #ffffff;
$background-input: #ffd8b8;

// border
$border-orange: #ff7506;

// icon
$icon-color: #823b00;

// user
$user-color: #cc5c00;
