@import './variables';

:root {
  --black-text: #{$black-text};
  --while-text: #{$while-text};
  --blue-text: #{$blue-text};
  --orange-text: #{$orange-text};
  --green-text: #{$green-text};
  --grey-text: #{$grey-text};
  // status
  --red-status: #{$red-status};
  --blue-status: #{$blue-status};
  --green-statu: #{$green-status};
  // background
  --background-1: #{$background-1};
  --background-2: #{$background-2};
  --background-3: #{$background-3};
  --background-4: #{$background-4};
  --background-5: #{$background-5};
  --background-6: #{$background-6};
  --background-7: #{$background-7};
  --background-8: #{$background-8};

  --background-gray: #{$background-gray};
  --background-orange-1: #{$background-orange-1};
  --background-orange-2: #{$background-orange-2};
  --background-orange-3: #{$background-orange-3};
  --background-blue-1: #{$background-blue-1};
  --background-blue-2: #{$background-blue-2};
  --background-blue-3: #{$background-blue-3};
  --background-green: #{$background-green};
  --background-while: #{$background-while};
  --background-input: #{$background-input};
  // border
  --border-orange: #{$border-orange};
  // icon
  --icon-color: #{$icon-color};
  // user
  --user-color: #{$user-color};

  // font-family
  --font-Mulish: #{$font-Mulish};
  --font-Source-Sans-Pro: #{$font-Source-Sans-Pro};

  // font-size
  --font-size-Mulish-1: #{$font-size-Mulish-1};
  --font-size-Mulish-2: #{$font-size-Mulish-2};
  --font-size-Mulish-3: #{$font-size-Mulish-3};
  --font-size-Mulish-4: #{$font-size-Mulish-4};
  --font-size-Source-Sans-Pro-1: #{$font-size-Source-Sans-Pro-1};
  --font-size-Source-Sans-Pro-2: #{$font-size-Source-Sans-Pro-2};

  // font-height
  --line-height-Mulish-1: #{$line-height-Mulish-1};
  --line-height-Mulish-2: #{$line-height-Mulish-2};
  --line-height-Mulish-3: #{$line-height-Mulish-3};
  --line-height-Mulish-4: #{$line-height-Mulish-4};
  --line-height-Source-Sans-Pro-1: #{$line-height-Source-Sans-Pro-1};
  --line-height-Source-Sans-Pro-2: #{$line-height-Source-Sans-Pro-2};
  --line-height-Source-Sans-Pro-3: #{$line-height-Source-Sans-Pro-3};

  // font-weight
  --weight-Mulish: #{$weight-Mulish};
  --weight-Source-Sans-Pro-1: #{$weight-Source-Sans-Pro-1};
  --weight-Source-Sans-Pro-2: #{$weight-Source-Sans-Pro-2};
  --weight-Source-Sans-Pro-3: #{$weight-Source-Sans-Pro-3};
}
