@import './../../styles/variables';

.input-with-icon {
    position: relative;
    padding-left: 40px;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  .vertical-line {
    width: 2px;
    height: 30px;
    background-color: #ccc;
    margin: 0 10px;
  }  

  .button-file{
    border: 2px solid $background-2;
    background-color: $background-orange-2;
    color: $black-text;
    border-radius: 7px;
    width: 50%;
  }