td {
  vertical-align: middle;
}

.trashIcon {
  width: 20px;
}

.unionIcon {
  width: 20px;
}

.checkActive {
  width: 22px;
}

.icon-container {
  position: relative;
  white-space: nowrap;
  text-align: center;
}

/* .dropdown-menu {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background-while);
  border: 1px solid var(--background-white);
  box-shadow: 0px 4px 6px var(--background-black);
  border-radius: 6px;
  padding: 0 15px;
  z-index: 10;
  min-width: 120px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
} */

.dropdown-menu {
  position: fixed;
  top: 65%;
  left: 82%;
  transform: translate(-50%, -50%);
  background: var(--background-while);
  border: 1px solid var(--background-white);
  box-shadow: 0px 4px 6px var(--background-black);
  border-radius: 6px;
  padding: 0 15px;
  z-index: 1000;
  min-width: 120px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-menu li {
  list-style: none;
  padding: 4px 0px 4px 0px;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid var(--orange-text); /* Chỉ thêm viền dưới cho các dòng ở giữa */
}

.dropdown-menu button {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

/* .icon-container button {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
} */

.icon-container img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 4px;
}
.text-center p {
  white-space: pre-line;
}
.icon-container img {
  object-fit: contain;
}

.trashIcon {
  cursor: pointer;
}

.status-container {
  border: 2px solid var(--background-gray);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid transparent;
}

.status-active {
  background-color: var(--background-while);
  border-color: var(--green-text);
  color: var(--green-text);
}

.status-graduated {
  background-color: var(--background-while);
  border-color: var(--blue-text);
  color: var(--blue-text);
}

.status-transferred-class {
  background-color: var(--background-while);
  border-color: var(--orange-text);
  color: var(--orange-text);
}

.status-transferred-school {
  background-color: var(--background-while);
  border-color: var(--black-text);
}

.status-dropped {
  background-color: var(--background-while);
  border-color: var(--red-status);
}

.th-content {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  max-width: 160px;
}

.sort-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.student-table {
  width: 98%;
  border-collapse: collapse;
  padding-right: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.student-table th,
.student-table td {
  padding: 10px;
  text-align: left;
}

.student-table tbody tr:nth-child(odd) {
  background-color: #ffff; /* Màu hàng lẻ */
}

.student-table tbody tr:nth-child(even) {
  background-color: #f0f3f6; /* Màu hàng chẵn */
}

.student-table tbody tr:hover {
  background-color: #f1f1f1;
}

.th-content {
  color: var(--while-text);
}

button .bg-opacity-50 {
  opacity: 0.4;
}
